@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "./assets/sass/navbar.scss";
@import "./assets/sass/movieComponent.scss";
@import "./assets/sass/movieDetails.scss";
@import "./assets/sass/homePage.scss";
@import "./assets/sass/genresPage.scss";
@import "./assets/sass/sliders.scss";
@import "./assets/sass/allMoviesPage.scss";
@import "./assets/sass/footerComponent.scss";
@import "./assets/sass/popularMoviesPage.scss";
@import "./assets/sass/upcomingMoviesPage.scss";
@import "./assets/sass/nowPlayingPage.scss";
@import "./assets/sass/infoComponent.scss";
@import "./assets/sass/searchPage.scss";
@import "./assets/sass/newsComponent.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
li {
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #0d0d0f;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
