//colors
$orange: #ffa502;
$nav: #181b1c;
$rose: #ff4757;
$btnSecondary: #1e272e;

//mixins
@mixin flex(
  $display,
  $justify-content,
  $align-items,
  $flex-direction,
  $gap,
  $flex-wrap
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
  flex-wrap: $flex-wrap;
}

@mixin button {
  background: $orange;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  color: #fff;
  @media screen and (max-width: 1000px) {
    top: 20px;
  }
  &:hover {
    background: transparent;
    color: $orange;
  }
}

@mixin links {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 400;
  &::before {
    margin-left: auto;
  }
  &::after,
  &::before {
    content: "";
    width: 0%;
    height: 2px;
    background: $orange;
    display: block;
    transition: 0.5s;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
  }
}

@mixin arrowBtn {
  padding: 10px 15px;
  background: $orange;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  .arrow {
    fill: #fff;
    font-size: 25px;
  }
  &:hover {
    background: $rose;
  }
}
