@import "./theme/setup.scss";

.infoWrapper {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  @include flex(flex, center, center, row, 30px, wrap);
  .animation {
    width: 30%;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .content {
    width: 60%;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    h2 {
      padding-bottom: 20px;
      font-size: 50px;
      color: $nav;
    }
    p {
      letter-spacing: 1px;
      font-size: 20px;
    }
  }
}
