@import "./theme/setup.scss";

.nowPlayingMoviesPage,
.topRatedMoviesPage {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
  @include flex(flex, center, center, column, 10px, wrap);
  .nowPlayingMoviesContainer,
  .topRatedMovieContainer {
    @include flex(flex, center, center, row, 20px, wrap);
  }
}
