@import "./theme/setup.scss";

.popularMoviesPage,
.popularSeriesPage {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
  @include flex(flex, center, center, column, 10px, wrap);
  .popularMovieContainer,
  .populaSeriesContainer {
    @include flex(flex, center, center, row, 20px, wrap);
  }
  .buttonWrapper {
    @include flex(flex, center, center, row, 50px, wrap);
    button {
      @include arrowBtn;
    }
  }
}
